.todoform {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  font-family: "Afacad Flux", sans-serif;
}
.modernInput {
  font-family: "Afacad Flux", sans-serif;
  width: 100%;
  border: none;
  display: block;
  color: black;
  font-size: 16px;
}
.modernInput:focus {
  outline: none;
}

.modernButton {
  font-family: "Afacad Flux", sans-serif;
  display: inline-block;
  border: none;
  border-radius: 12px;
  background-color: #6273ff;
  padding: 8px 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.modernButton:hover {
  background-color: white;
  color: #6273ff;
}
.inputContainer {
  display: flex;
}
