.header {
  background-color: #6273ff;
  color: white;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  font-size: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-shadow: rgb(61, 61, 61) 1px 0 10px;
  line-height: 50px;
}
